/* Navbar.css */
.navbar {
  background-color: #2d6a4f;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* Fixa no topo */
  top: 0;
  z-index: 1000;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-links li a:hover {
  color: #b7e4c7;
}

.navbar-logo-img {
  height: 100px;
  object-fit: contain;
}
